<div id="<%= dom_id payment %>">
  <p>
    <strong>Order:</strong>
    <%= payment.order_id %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= payment.total_amount %>
  </p>

  <p>
    <strong>Payment state:</strong>
    <%= payment.payment_state_id %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method_id %>
  </p>

</div>
