<p style="color: green"><%= notice %></p>

<%= render @product_review %>

<div>
  <%= link_to "Edit this product review", edit_product_review_path(@product_review) %> |
  <%= link_to "Back to product reviews", product_reviews_path %>

  <%= button_to "Destroy this product review", @product_review, method: :delete %>
</div>
